* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: friends;
}

body {
    background-color: rgb(249,250,251);

}

.sectnav {
    box-shadow: 1px 1px 10px black;
    position: fixed;
    background-color: rgb(249,250,251);
    width: 100%;
    z-index: 200;

}
nav{
    max-width: 1600px;
    margin: auto;
    align-items: center;
    height: 60px;
    display: flex;
    justify-content: space-around;
}

.icono{
    color: black;
    font-size: 1.5em;
    text-decoration: underline 2px;
}
nav ul {
    font-size: 1.3rem;
    text-decoration: none;
    display: flex;
}

nav ul a{
    color: black;
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
}

nav button {
    display: none;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.main {
    display: grid;
    grid-template-areas: 
    "titleincio imgincio"
    "textinicio imgincio";
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
    text-align: center;
    height: 100vh;
    font-size: 25px;
}

.main h2{
    position: relative;
    text-decoration:underline ;
    padding: 3px;
    font-size: 2em;
    grid-area: titleincio;
    align-self: flex-end; 
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%  {bottom:0px;}
    50% {bottom: 15px;}
    100% {bottom:0px;}
  }

.main h6 {
    padding: 8px;
    grid-area: textinicio;
    align-self: start;
    color:#8b34a7
}

.main img {
    grid-area: imgincio;
    width: 100%;
}
.info {
    font-size: 25px;
    height: 90vh;
    display: flex;
    color: aliceblue;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(135deg, #73298b, #BC3480);
}

.img img {
    width: 20%;
    margin: 50px;
    position: relative;
    top: 100px;
}

.modo {
    font-size: 25px;
    height: 90vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modo img {
    width: 50vh;
}
.simulador {
    width: 90vh;
    font-size: 18px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 0px 0px 18px black;
    border-radius: 3px ;
    background-color: #e6e9e6;
    height: 50vh;
}

.moneda {
    display: grid;
    grid-template-areas: 
    "monto boton"
    "moneda boton";
    justify-items: center;

}
.inver{
    position: relative;
    right: 50px;
    height: 25px;
    font-size: 17px;
    width: 50%;
}

.rad{
    position: relative;
    right: 90px;
    width: 40%;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
}

.moneda button{
    grid-area: boton;
    font-size: 17px;
    width: 60%;
    height: 50px;
    background-color: #cddbe9;
    border-radius: 3px;
    border: none;
}

.moneda button:hover {
    cursor: pointer;
}

.simulador ul {
    background-color: #a6c0db;
    border-radius: 5px;
    display: flex;
    border: solid 1px black;
    line-height: 70px;
    justify-content: space-around;
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    align-items: center;
    background: linear-gradient(75deg, aliceblue, #73298b);
}

.social-bar {
    position: relative;
	top: 5%;
	font-size: 2.5rem;
	display: flex;
    justify-content: space-around;
    width: 50vh;
	
}
.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
    transition: all .5s;
    border-radius: 0.2rem;
}
.icon-facebook {
	background: #2E406E;
}
.icon-twitter {
	background: #339DC5;
}
.icon-instagram {
	background: linear-gradient(35deg, #f1cf6f, #ed781c, #cb2770, #8e2db5, #4b56ca);
}
.icon-linkedin {
    background: #2764ac;
}
.icon:hover {
	transform: rotate(360deg);
	border-radius: 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

.piedpagina {
    width: 90vh;
    padding: 30px;
    font-size:large;
    border-top:solid;
}

.cop {
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:3px 25px;
}
.cop h3 {
    font-size:large;
}
.cop button {
    background: none;
    border: none;
    font-size: 15px;
}
.cop button:hover{
    cursor: pointer;
}
